#contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: silver;
  min-height: 00px;
  gap: 2rem;
  padding: 2rem;
  font-family: monospace;
}

#contact h1 {
  margin-bottom: 1rem;
}

#contact p {
  font-size: 1.2rem;
}
