#contact {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	background-color: silver;
	min-height: 00px;
	gap: 2rem;
	padding: 2rem;
	font-family: monospace;
}

#contact h1 {
	margin-bottom: 1rem;
}

#contact p {
	font-size: 1.2rem;
}

@media ( max-width : 768px) {
	#contact {
		flex-direction: column; 
		justify-content: center; 
		align-items: center; 
		text-align: center;
		gap: 1.5rem;
		padding: 1.5rem;
	}
}