#about {
	display: flex;
	align-items: flex-end;
	background-color: gray;
	min-height: 900px;
	gap: 2rem;
}

.portrait-img {
	width: 800px;
	height: auto;
	object-fit: cover;
	border-radius: 10px;
	padding-left: 600px;
	
}

.about-text {
	max-width: 600px;
	padding: 2rem;
	font-family: monospace;
}

.about-text h2 {
	font-size: 4rem;
	margin-bottom: 0.5rem;
}

.about-text p {
	font-size: 2rem;
	line-height: 1.5;
}


.typing-line {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
}

.line1 {
  animation: typing 3s steps(20, end) forwards;
}

.line2 {
  animation: typing 3s steps(25, end) forwards;
  animation-delay: 1s; 
  animation-fill-mode: forwards;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@media (max-width: 768px) {
  #about {
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: auto;
    gap: 1rem;
    margin: 0;
  }
  
  .about-text app-social-buttons,
  .social-buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
  }

  .portrait-img {
    width: 100%;
    max-width: 300px;
    padding-left: 0;
    margin-bottom: 0;
  }

  .about-text {
    max-width: 90%;
    padding: 1rem;
    margin-top: 2rem;
  }

  .about-text h2 {
    font-size: 2rem;
  }

  .about-text p {
    font-size: 1rem;
  }
}

