<section id="about">
  <div class="about-text">
    <h2>HI I'M RENÈ</h2>
    <p>Thanks for visiting my website. Feel free to explore and learn
      more about my work and life.</p>

    <div class="social-buttons">
      <a href="https://github.com/rene-rekowski" target="_blank">
        <img src="/images/icons/github-icon.png" alt="GitHub">
      </a>
      <a href="https://www.instagram.com/dein_profilname" target="_blank">
        <img src="/images/icons/instagram-icon.png" alt="Instagram">
      </a>
    </div>
  </div>

  <img src="/images/portrait.png" class="portrait-img" alt="René Rekowski">
</section>
