#hobbys {
	display: flex;
	flex-direction: column; 
	align-items: center; 
	background-color: gray;
	min-height: 600px;
	padding: 2rem;
	gap: 2rem;
	font-family: monospace;
}

#hobbys h1 {
	font-size: 2rem;
	margin-bottom: 2rem;
	margin-bottom: 1rem;
}

.hobbys-content {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	width: 100%;
	max-width: 1500px;
}

.hobby-text {
	max-width: 500px;
	font-size: 2rem;
	line-height: 1.5;
}

.frog img {
	width: 700px;
	height: auto;
	border-radius: 10px;
	transition: transform 0.3s ease;
}

.frog img:hover {
	transform: scale(1.1);
}

@media (max-width: 768px) {
  #hobbys {
    padding: 1rem;
    gap: 1rem;
    
  }

  .hobbys-content {
    flex-direction: column;
  }

  .frog img {
    width: 100%;
    max-width: 800px;
  }

  .hobby-text {
    max-width: 90%;
    font-size: 1rem;
  }
}
